In [59]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [60]:
project =pd.read_csv('case study dataset.csv')

In [61]:
project

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
project.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
project.EU_Sales.unique()

array([2.896e+01, 3.580e+00, 1.276e+01, 1.093e+01, 8.890e+00, 2.260e+00,
       9.140e+00, 9.180e+00, 6.940e+00, 6.300e-01, 1.095e+01, 7.470e+00,
       6.180e+00, 8.030e+00, 4.890e+00, 8.490e+00, 9.090e+00, 4.000e-01,
       3.750e+00, 9.200e+00, 4.460e+00, 2.710e+00, 3.440e+00, 5.140e+00,
       5.490e+00, 3.900e+00, 5.350e+00, 3.170e+00, 5.090e+00, 4.240e+00,
       5.040e+00, 5.860e+00, 3.680e+00, 4.190e+00, 5.730e+00, 3.590e+00,
       4.510e+00, 2.550e+00, 4.020e+00, 4.370e+00, 6.310e+00, 3.450e+00,
       2.810e+00, 2.850e+00, 3.490e+00, 1.000e-02, 3.350e+00, 2.040e+00,
       3.070e+00, 3.870e+00, 3.000e+00, 4.820e+00, 3.640e+00, 2.150e+00,
       3.690e+00, 2.650e+00, 2.560e+00, 3.110e+00, 3.140e+00, 1.940e+00,
       1.950e+00, 2.470e+00, 2.280e+00, 3.420e+00, 3.630e+00, 2.360e+00,
       1.710e+00, 1.850e+00, 2.790e+00, 1.240e+00, 6.120e+00, 1.530e+00,
       3.470e+00, 2.240e+00, 5.010e+00, 2.010e+00, 1.720e+00, 2.070e+00,
       6.420e+00, 3.860e+00, 4.500e-01, 3.480e+00, 1.890e+00, 5.750e+00,
       2.170e+00, 1.370e+00, 2.350e+00, 1.180e+00, 2.110e+00, 1.880e+00,
       2.830e+00, 2.990e+00, 2.890e+00, 3.270e+00, 2.220e+00, 2.140e+00,
       1.450e+00, 1.750e+00, 1.040e+00, 1.770e+00, 3.020e+00, 2.750e+00,
       2.160e+00, 1.900e+00, 2.590e+00, 2.200e+00, 4.300e+00, 9.300e-01,
       2.530e+00, 2.520e+00, 1.790e+00, 1.300e+00, 2.600e+00, 1.580e+00,
       1.200e+00, 1.560e+00, 1.340e+00, 1.260e+00, 8.300e-01, 6.210e+00,
       2.800e+00, 1.590e+00, 1.730e+00, 4.330e+00, 1.830e+00, 0.000e+00,
       2.180e+00, 1.980e+00, 1.470e+00, 6.700e-01, 1.550e+00, 1.910e+00,
       6.900e-01, 6.000e-01, 1.930e+00, 1.640e+00, 5.500e-01, 2.190e+00,
       1.110e+00, 2.290e+00, 2.500e+00, 9.600e-01, 1.210e+00, 1.120e+00,
       7.700e-01, 1.690e+00, 1.080e+00, 7.900e-01, 2.370e+00, 2.460e+00,
       2.600e-01, 7.500e-01, 1.250e+00, 2.430e+00, 9.800e-01, 7.400e-01,
       2.230e+00, 6.100e-01, 2.450e+00, 1.410e+00, 1.800e+00, 3.280e+00,
       1.160e+00, 1.990e+00, 1.380e+00, 1.360e+00, 1.170e+00, 1.190e+00,
       9.900e-01, 1.680e+00, 2.000e+00, 1.330e+00, 1.570e+00, 1.480e+00,
       2.100e+00, 1.270e+00, 1.970e+00, 9.100e-01, 1.390e+00, 1.960e+00,
       2.400e-01, 1.510e+00, 1.400e-01, 1.290e+00, 2.390e+00, 1.030e+00,
       5.000e-01, 5.800e-01, 1.310e+00, 2.020e+00, 1.320e+00, 1.010e+00,
       2.270e+00, 2.300e+00, 1.820e+00, 2.780e+00, 4.400e-01, 4.800e-01,
       2.700e-01, 2.100e-01, 2.480e+00, 5.100e-01, 1.520e+00, 4.000e-02,
       2.800e-01, 1.350e+00, 8.700e-01, 2.130e+00, 1.130e+00, 1.760e+00,
       7.600e-01, 2.120e+00, 6.600e-01, 1.600e+00, 1.440e+00, 1.430e+00,
       1.700e+00, 4.700e-01, 1.870e+00, 8.600e-01, 7.300e-01, 1.280e+00,
       8.100e-01, 1.090e+00, 6.800e-01, 1.220e+00, 1.400e+00, 1.020e+00,
       1.490e+00, 1.140e+00, 4.900e-01, 9.000e-01, 3.800e-01, 1.420e+00,
       9.500e-01, 1.620e+00, 7.100e-01, 1.050e+00, 9.200e-01, 3.300e-01,
       3.000e-01, 1.670e+00, 1.000e+00, 8.900e-01, 1.000e-01, 7.200e-01,
       5.900e-01, 5.600e-01, 1.600e-01, 9.700e-01, 6.200e-01, 8.500e-01,
       9.400e-01, 8.800e-01, 8.400e-01, 1.060e+00, 2.000e-01, 1.150e+00,
       8.000e-01, 1.100e+00, 7.000e-01, 1.920e+00, 3.200e-01, 1.500e-01,
       5.300e-01, 9.000e-02, 1.460e+00, 2.900e-01, 2.200e-01, 1.230e+00,
       7.000e-02, 1.700e-01, 5.400e-01, 3.600e-01, 3.100e-01, 1.840e+00,
       5.200e-01, 1.100e-01, 6.400e-01, 1.200e-01, 2.050e+00, 1.630e+00,
       8.200e-01, 8.000e-02, 5.700e-01, 1.650e+00, 1.900e-01, 2.000e-02,
       4.300e-01, 2.500e-01, 1.500e+00, 1.800e-01, 3.900e-01, 1.300e-01,
       1.070e+00, 4.600e-01, 4.100e-01, 6.000e-02, 3.000e-02, 3.700e-01,
       5.000e-02, 2.300e-01, 6.500e-01, 4.200e-01, 3.400e-01, 3.500e-01,
       7.800e-01])

In [65]:
project.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

In [66]:
project.shape

(16719, 16)

In [67]:
project.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

In [69]:
type(project)

pandas.core.frame.DataFrame

In [68]:
project.EU_Sales.describe()

count    16719.000000
mean         0.145025
std          0.503283
min          0.000000
25%          0.000000
50%          0.020000
75%          0.110000
max         28.960000
Name: EU_Sales, dtype: float64

In [70]:
project.isna().sum() #find sum of null value

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

In [71]:
project.columns

Index(['Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales', 'Critic_Score',
       'Critic_Count', 'User_Score', 'User_Count', 'Developer', 'Rating'],
      dtype='object')